<div class="container -centered">
	<div class="instagram">
		<div class="instagram__users">
			<div class="instagram__users__user user">
				<div class="user__avatar">
					<div class="intrinsic full">
						<div class="intrinsic__wrapper -ratio-1x1">
							<img class="intrinsic__wrapper__element" src="http://placehold.it/100x100" alt="" />
						</div>
					</div>
				</div>
				<h2 class="user__name">
					Lorem ipsum dolor
				</h2>
			</div>
			<div class="instagram__users__user user">
				<div class="user__avatar">
					<img class="full" src="http://placehold.it/100x100" alt="" />
				</div>
				<h2 class="user__name">
					Lorem ipsum dolor
				</h2>
			</div>
			<div class="instagram__users__user user">
				<div class="user__avatar">
					<img class="full" src="http://placehold.it/100x100" alt="" />
				</div>
				<h2 class="user__name">
					Lorem ipsum dolor
				</h2>
			</div>
			<div class="instagram__users__user user">
				<div class="user__avatar">
					<img class="full" src="http://placehold.it/100x100" alt="" />
				</div>
				<h2 class="user__name">
					Lorem ipsum dolor
				</h2>
			</div>
		</div>
		<div class="instagram__image">
			<img class="full" src="http://placehold.it/100x100" alt="" />
		</div>
	</div>
</div>