<div class="container -centered">
	<div class="container -centered">
		<div class="instagram">
			<div class="instagram__users js-insert-avatars">
				<!--
				<div class="instagram__users__user user">
					<div class="user__avatar">
						<div class="intrinsic full">
							<div class="intrinsic__wrapper -ratio-1x1">
								<img class="intrinsic__wrapper__element" src="http://placehold.it/100x100" alt="" />
							</div>
						</div>
					</div>
					<h2 class="user__name">
						Lorem ipsum dolor
					</h2>
				</div>
				-->
			</div>
			<div class="instagram__image js-insert-image">
				<!-- <img class="full" src="http://placehold.it/600x600" alt="" /> -->
			</div>
		</div>
	</div>
</div>